PORT=3000
FIREBASE_PROJECT_ID=chat-firebase-cps
FIREBASE_DATABASE_URL=https://chat-firebase-cps-default-rtdb.firebaseio.com
FIREBASE_CLIENT_EMAIL=CONFIGURAR_NA_HOSPEDAGEM
FIREBASE_PRIVATE_KEY=CONFIGURAR_NA_HOSPEDAGEM
CLOUDINARY_CLOUD_NAME=hwgpx1dv
CLOUDINARY_API_KEY=CONFIGURAR_NA_HOSPEDAGEM
CLOUDINARY_API_SECRET=CONFIGURAR_NA_HOSPEDAGEM
